@charset "utf-8";

* {margin:0; padding:0; box-sizing:border-box;}
ul,li,ol {list-style:none; padding:0; margin:0;}
a {text-decoration:none;}
table {border-spacing:0;}

#wrap {width:100%; height:auto; position:relative;}

/*  p0 배경  */
/* ---- reset ---- */

section > #p0 {margin: 0; background-color:#20272e;}

canvas {display: block; vertical-align:bottom;}

/* ---- particles container ---- */
section > #p0 {width:100%; margin: 0 auto;}

section > #p0 > #particles {position:absolute; width:90%; height:100%; left:5%;}

/*  소개  */
section > #p0 > #particles > .intro {display:none;}

section > #p0 > #particles > #typing {position: absolute; top:33%; left:50%; transform:translateX(-50%); font-family: 'VT323'; font-size:70px; color:#fff; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5); z-index:3; display:inline-block; animation-name: cursor; animation-duration: 0.3s; animation-iteration-count: infinite;} 
@keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff}
}



/*section > #p0 > #particles > #intro:after{content: attr(data-text); display: block; margin-top: calc(var(--height) / 10 + 15px); font-size:70px; text-align: center; z-index:3;}*/

section > #p0 > #particles > p:nth-of-type(2) {text-align:center; font-size:18px; color:#aaa; position:absolute; top:43%; left:50%; transform:translateX(-50%); z-index:3; font-family:'Gothic A1', sans-serif;}

section > #p0 > #particles > img {width:200px; height:80px; position:absolute; top:58%; left:52%; opacity:0.2;}
section > #p0 > #particles > p:last-of-type {font-family: 'Caprasimo', cursive; 
    font-family: 'Dongle', sans-serif;color:#fff; font-size:24px; position:absolute; top:59.3%; left:52.8%;}

/*  p0 배경 끝  */
/*  p5  */
section > #p5 {background:url(../img/p5_back.png); position:relative; font-family:'Gothic A1', sans-serif;}
section > #p5 > #profile_wrap {width:1500px; height:670px; background-color:#fff; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); border-radius:10px 100px; display:flex; justify-content:space-evenly; align-items:center; overflow:hidden; box-shadow:4px 4px 4px #555;}

/*  profile, licence, skill 아이콘, h3  */
section > #p5 > #profile_wrap .content_b {display:flex; align-items:center; width:100%; height:60px; border-bottom:2px solid #eee; margin-bottom:25px;}
section > #p5 > #profile_wrap .content_b > img {width:45px; height:58px; margin-right:5px;}
section > #p5 > #profile_wrap .content_b > h3 {font-family:'VT323'; font-size:33px; height:30px;}


/*  사진, 이름  */
section > #p5 > #profile_wrap > #profile_left {width:380px; height:460px;}
section > #p5 > #profile_wrap > #profile_left > #img_b {width:250px; height:300px; margin:25px auto 40px; overflow:hidden;}
section > #p5 > #profile_wrap > #profile_left > #img_b > img {width:100%;}
section > #p5 > #profile_wrap > #profile_left > #txt_b {text-align:center; margin:0 auto;}
section > #p5 > #profile_wrap > #profile_left > #txt_b > p {font-family:'VT323'; font-size:25px;}

/*  profile, licence  */
section > #p5 > #profile_wrap > #profile_center {width:380px; height:460px;}

section > #p5 > #profile_wrap > #profile_center > #profile > table {width:350px; margin:0 auto; text-align:left;  line-height: 20px;}
section > #p5 > #profile_wrap > #profile_center > #profile > table th {width:100px; line-height:28px; text-transform:capitalize;}
section > #p5 > #profile_wrap > #profile_center > #profile > table td {font-size:14px; color:#333;}
.blog a{color: green;}
.blog a:hover {color:gray;}

section > #p5 > #profile_wrap > #profile_center > #licence {margin-top:50px;}
section > #p5 > #profile_wrap > #profile_center > #licence > table {width:350px; margin:0 auto; text-align:left;}
section > #p5 > #profile_wrap > #profile_center > #licence > table td {font-size:14px; line-height:25px; color:#333;}
section > #p5 > #profile_wrap > #profile_center > #licence > table td:first-of-type {width:100px;}
/*  skill  */
section > #p5 > #profile_wrap > #profile_right {width:380px; height:460px;}

section > #p5 > #profile_wrap > #profile_right > #skill > .skill_of {width:350px; height:85px; margin:0 auto;}
section > #p5 > #profile_wrap > #profile_right > #skill > .skill_of > h4 {font-size:18px; line-height:35px;}
.skill_p {line-height: 28px; font-size: 13px;}

.backgroundColor {background-color: red;}